@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  /* Fonts */
  --FF: "Roboto", sans-serif;
  --FF-PIXEL: "VT323", monospace;
  --FS: 1.2rem;
  --FS-WELCOME: 2em;
  --FS-CODE: 0.7em;
  --FS-CODE-TITLE: 0.4em;

  /* Colors */
  --BG-COLOR: #242323;
  --BG-COLOR-NAV: #121212;
  --BG-GRAD: linear-gradient(
    45deg,
    rgba(66, 93, 142, 1) 13%,
    rgba(130, 49, 184, 1) 51%,
    rgba(81, 16, 193, 1) 100%
  );
  --COLOR: #f5f5f5;
  --COLOR-DARKER: rgba(250, 250, 250, 0.5);
  --COLOR-FANCY: #5b78af;
  --SVG-COLOR: whitesmoke;
  --BORDER-COLOR: yellow;
  --CURSOR-COLOR: rgb(207, 180, 23);

  /* Borders */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* TEXT SHADOW */
  --TEXT-SHADOW: 2px 7px 5px rgba(158, 158, 158, 0.2),
    0px -4px 10px rgba(158, 158, 1, 0.5);
}

/* UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  color: var(--COLOR);
}

body {
  background: var(--BG-GRAD);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

h2,
h3,
h4 {
  color: var(--COLOR);
  text-align: center;
}

h2 {
  text-align: center;
}

section h2:before,
section h2:after {
  font-family: var(--FF-PIXEL);
  font-size: var(--FS-CODE);
  letter-spacing: 0.1em;
  padding-right: 0.4em;
  display: inline-block;
  color: var(--COLOR-DARKER);
}

section h2:before {
  letter-spacing: 0.1em;
  padding-right: 0.4em;
  content: "<h2>";
}

section h2:after {
  padding-left: 0.4em;
  content: "</h2>";
}
p:before,
p:after {
  font-size: var(--FS-CODE);
  display: inline-block;
  color: var(--COLOR-DARKER);
}

p {
  padding: 1em;
}

p:before,
p:after {
  font-family: var(--FF-PIXEL);
}
p:before {
  content: "<p>";
}

p:after {
  content: "</p>";
}

/* Scroll Top Btn */
.scroll-top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  animation: up-down 1.5s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  20% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(0, 0, 0, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--COLOR);

  border-radius: 5px;
}

/* SIDEBAR */
nav {
  font-size: 1em;
  background-color: var(--BG-COLOR-NAV);
  overflow: hidden;
  visibility: collapse;
  z-index: 1;
  width: 0%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  white-space: nowrap;
}

.sidebar__links a i {
  display: flex;
  color: var(--COLOR);
  justify-content: center;
  align-items: center;
  height: 1em;
  width: 1em;
}

.sidebar__links a {
  font-size: 1.5em;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
  margin: 12px 0px;
}

.sidebar__links a:hover {
  color: #f1f1f1;
}

.btn_expand {
  padding-right: 8px;
  width: 3rem;
  min-width: 35px;
  height: 3rem;
  min-height: 35px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: sticky;
  top: 50%;
  background-color: var(--BG-COLOR-NAV);
  cursor: pointer;
}

.sidebar__media {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.sidebar__media i {
  max-width: 40px;
  max-height: auto;
}

.arrow_expand {
  rotate: 0;
  transition: 0.5s;
}

/* Profile figure */
figure {
  padding-top: 1em;
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  animation: none;
}

.figure__img {
  height: 7em;
}

figcaption {
  text-align: center;
  color: var(--COLOR-FANCY);
  font-size: 1rem;
}

/* FADE ANIMATION CLASS */

.fade {
  opacity: 0;
}

.fade-in,
.fade-out {
  animation: fade 2s;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
  animation-direction: normal;
}

.fade-out {
  opacity: 1;
  animation-direction: reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SECTION CLASSES */

section {
  padding: 2rem;
}

.main__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
}

.section_header {
  margin: 2rem;
  text-align: left;
  align-items: flex-start;
  justify-content: start;
}

/* Welcome section */
.welcome {
  font-size: 2em;
  justify-content: center;
}

.welcome span {
  letter-spacing: 0.5em;
  color: var(--COLOR);
}

h1 {
  font-size: var(--FS-WELCOME);
  font-family: var(--FF-PIXEL);
}

h1:before,
h1::after {
  font-size: var(--FS-CODE-TITLE);
  color: var(--COLOR-DARKER);
  letter-spacing: 0.1em;
}

h1:before {
  content: "<title>";
}

h1:after {
  content: "</title>";
}

.welcome__changed::before,
.welcome__original::after {
  letter-spacing: 0.1em;
  font-size: 1em;
}

.welcome__changed::before {
  content: "<title>";
}

.welcome__original::after {
  font-family: var(--FF);
  content: "</title>";
}

.welcome__original {
  font-family: var(--FF-PIXEL);
  font-size: 2.7em;
}

.welcome__changed {
  font-family: var(--FF);
}

.welcome__cursor {
  animation: cursor 1s steps(2) infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
}

.welcome__letter {
  display: inline-block;
  height: 4.7em;
  width: 4em;
}

/* ABOUT SECTION */
.about-container {
  font-size: 1.3em;
}

.about-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.about__img {
  width: 25px;
  height: auto;
  display: inline;
  border-radius: 50%;
  background-color: aliceblue;
}

li {
  white-space: nowrap;
}

.about-lists ul {
  list-style: none;
  padding-top: 1rem;
}

/* EXPERIENCE SECTION */

.experience {
  width: 100%;
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  min-width: 100%;
  overflow: hidden;
  min-height: 5rem;
  margin: auto;
}

.slider__img {
  max-height: 400px;
  max-width: 550px;
  margin: auto;
  object-fit: scale-down;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mySlides__desc {
  align-items: stretch;
  width: 100%;
  color: var(--COLOR);
}

.mySlides__desc a:any-link {
  color: var(--COLOR);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--COLOR);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade-caption {
  animation-name: fade-caption;
  animation-duration: 1.5s;
}

@keyframes fade-caption {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}

.contact__img {
  height: 40px;
  width: auto;
  display: inline;
}

.contact a {
  text-decoration: none;
  color: var(--COLOR);
  transition: 0.5s;
}

/* SVG */
.svg {
  font-size: 40px;
  color: var(--SVG-COLOR);
}

.svg:hover {
  cursor: pointer;
}

/* MEDIA */
@media only screen and (max-width: 1050px) {
  :root {
    --FS: 0.9rem;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --FS: 0.7rem;
  }
}

@media only screen and (max-width: 720) {
  section {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .svg:hover {
    color: var(--SVG-COLOR);
  }
}
