@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  /* Fonts */
  --FF: "Roboto", sans-serif;
  --FF-PIXEL: "VT323", monospace;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  /* --FS:1.5rem; */

  /* Colors */
  --BG-COLOR: #242323;
  --BG-COLOR-NAV: #121212;
  --COLOR: rgb(245, 245, 245);
  --COLOR-DARKER: hsla(0, 0%, 98%, 0.9);
  /* --COLOR-FANCY: #38e1ff; */
  --COLOR-FANCY: #ffffff;
  --SVG-COLOR: whitesmoke;
  --BORDER-COLOR: yellow;
  --CURSOR-COLOR: rgb(207, 180, 23);

  /* Borders */
  --BORDERS: 1px solid var(--BORDER-COLOR);
}

/* UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BG-COLOR);
  color: var(--COLOR);
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

h2,
h3,
h4 {
  color: var(--COLOR-FANCY);
  /* text-decoration: underline; */
  text-align: center;
}

h2 {
  text-align: center;
}

section h2:before{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  content:"<h2> ";
  display:inline-block;
  color: var(--COLOR);
}

section h2:after{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  content:" </h2>";
  display:inline-block;
  color: var(--COLOR);

}

section h3:before{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  content:"<h3> ";
  display:inline-block;
  color: var(--COLOR);
}

section h3:after{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  content:" </h3>";
  display:inline-block;
  color: var(--COLOR);

}

p:before{
  font-size: 1rem;
  display:inline-block;
  color: var(--COLOR);
  content: "<p>";
}

p:after{
  font-size: 1rem;
  display:inline-block;
  color: var(--COLOR);
  content: "</p>";
}

/* Scroll Top Btn */
.scroll-top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  animation: up-down 1.5s infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
    opacity: 0.5;
  }
  20% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

.container {
  height: 100%;
  width: 100%;
  /* 
  /* min-height: 100vh; */
  /* min-width: 915px; */

  display: flex;
}

main {
  width: 100%;
  height: auto;
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* flex-grow: 1; */
}

p {
  font-size: 1.2rem;
  padding: 1rem;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--COLOR);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--COLOR-DARKER);
}

/* SIDEBAR */
nav {
  font-size: 1.5rem;
  background-color: var(--BG-COLOR-NAV);
  overflow: hidden;
  visibility: collapse;
  z-index: 1;
  width: 0%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  /* min-height: 100%; */
  /* min-height: 100vh; */
  /* flex-shrink: 0;
  flex-grow: 1; */
  /* flex: 1; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  white-space: nowrap;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.sidebar__links a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
  font-size: 1.5rem;
  margin: 0.3rem;
}

.sidebar__links a:hover {
  color: #f1f1f1;
}

.btn_expand {
  width: 3rem;
  min-width: 40px;
  height: 3rem;
  min-height: 40px;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: sticky;
  top: 50%;
  background-color: var(--BG-COLOR-NAV);
  cursor: pointer;
}

.sidebar__media {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.sidebar__media i {
  max-width: 40px;
  max-height: auto;
}

.arrow_expand {
  rotate: 0;
  transition: 0.5s;
}

/* Profile figure */
figure {
  padding-top: 1rem;
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  animation: none;
}

.figure__img {
  height: 100px;
}

figcaption {
  text-align: center;
  color: var(--COLOR-FANCY);
  font-size: 1rem;
}

/* FADE ANIMATION CLASS */

.fade {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fade 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.fade-out {
  opacity: 1;
  animation: fade 2s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* SECTION CLASSES */

section {
  padding: 2rem;
}

.main__section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
}

.section_header {
  align-items: flex-start;
  justify-content: start;
}

/* Welcome section */
.welcome {
  font-size: 2rem;
  justify-content: center;
}

.welcome span {
  letter-spacing: 0.5rem;
  color: var(--COLOR);
}
.welcome__changed::before {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  content: "<title>";
}

.welcome__original::after {
  letter-spacing: 0.1rem;
  font-family: var(--FF);
  font-size: 1rem;
  content: "</title>";
}

.welcome__original {
  font-family: var(--FF-PIXEL);
  font-size: 2.7rem;
}

.welcome__changed {
  font-family: var(--FF);
}

.welcome__cursor {
  animation: cursor 1s steps(2) infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
}

.welcome__letter {
  display: inline-block;
  height: 4.7rem;
  width: 4rem;
}

/* ABOUT SECTION */
.about-container {
  font-size: 1.3rem;
}

.about-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.about__img {
  width: 25px;
  height: auto;
  display: inline;
  border-radius: 50%;
  background-color: aliceblue;
}

li {
  white-space: nowrap;
}

.about-lists ul {
  list-style: none;
  padding-top: 1rem;
}

/* EXPERIENCE SECTION */

.experience {
  width: 100%;
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  min-width: 100%;
  overflow: hidden;
  min-height: 5rem;
  margin: auto;
}

.slider__img {
  max-height: 400px;
  max-width: 550px;
  margin: auto;
  object-fit: scale-down;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mySlides__desc {
  align-items: stretch;
  width: 100%;
  color: var(--COLOR);
}

.mySlides__desc a:any-link {
  color: var(--COLOR);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: var(--COLOR);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade-caption {
  animation-name: fade-caption;
  animation-duration: 1.5s;
}

@keyframes fade-caption {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


/* CONTACT SECTION */
.contact{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact span{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}

.contact__img{
  height: 40px;
  width: auto;
  display: inline;
}

.contact a {
  text-decoration: none;
  color: var(--COLOR);
  transition: 0.5s;

}

.contact a:hover {
  color: var(--COLOR-FANCY)
}

/* SVG */
.svg {
  font-size: 40px;
  color: var(--SVG-COLOR);
}

.svg:hover {
  cursor: pointer;
  color: var(--COLOR-FANCY);
}

/* MEDIA */
@media only screen and (max-width: 600px) {
  section{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .svg:hover {
    color: var(--SVG-COLOR);
  }
}
